body {
  font-weight: 300;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.breadcrumb-item {
  font-size: 0.8rem;
  line-height: 0.9rem;
}
.breadcrumb-item + .breadcrumb-item::before {
  font-size: 0.9rem;
  font-weight: bold;
  content: "\BB";
}

/* SELECT2 */
.input-group>.input-group-prepend ~ .select2-container--default .select2-selection--multiple {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background: #f5d400;
  border: none;
  box-shadow: 1px 1px 2px #aaa;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered {
  min-height:32px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color: #000;
  margin-right: 5px;
}

/* SIDEBAR */
.sidebar-toggler {
  width: 100%;
  background: transparent;
  position: relative;
  height: 30px;
  width: 50px;
  display: block;
  z-index: 99;
  -webkit-transition: linear 0.5s all;
  transition: linear 0.5s all;
}

.sidebar-toggler:before,
.sidebar-toggler:after {
  background: #04317f;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  content: "";
  height: 5px;
  left: 0;
  -webkit-transition: 0.8s ease;
  transition: 0.8s ease;
  width: 30px;
}

.sidebar-toggler:before {
  -webkit-box-shadow: #04317f 0 10px 0 0;
  box-shadow: #04317f 0 10px 0 0;
  position: absolute;
  top: 0;
}

.sidebar-toggler:after {
  position: absolute;
  top: 20px;
}

.sidebar-toggler.active {
  -webkit-transition: linear 0.5s all;
  transition: linear 0.5s all;
}

.sidebar-toggler.active:before {
  background: #f6d300;
  -webkit-box-shadow: #f6d300 0 0 0 0;
  box-shadow: #f6d300 0 0 0 0;
  top: 15px;
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
}

.sidebar-toggler.active:after {
  background: #f6d300;
  top: 15px;
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
}

.sidebar-wrapper {
  position: fixed;
  width: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: block;
  -webkit-transition: width 300ms ease-out, height 1ms ease-out 300ms;
  transition: width 300ms ease-out, height 1ms ease-out 300ms;
  z-index: 50;
  background: #04317f;
  color: #fff;
}

.sidebar-wrapper.active {
  width: 100vw;
  height: 100%;
  min-height: 100vh;
}

.sidebar-wrapper .list-group {
  overflow: hidden;
  width: 100vw;
}

.sidebar-wrapper .list-group-item {
  color: white;
  background: #04317f;
  border: none;
}

.sidebar-wrapper .list-group-sub {
  border-left: solid 5px #f6d300;
}

.sidebar-wrapper .list-group-sub .list-group-item {
  background: #1648a5;
  color: white;
  border: none;
}

.sidebar-wrapper .list-group-item i {
  width: 40px;
}

.sidebar-wrapper .list-group-item:hover {
  color: white;
  background: #2657ac;
}

.sidebar-wrapper .list-group-item.active {
  color: #04317f;
  background: #f6d300;
}

.sidebar-wrapper .list-group-item[data-toggle="collapse"]:after {
  content: '\F078';
  float: right;
  text-align: right;
  font-family: FontAwesome;
}

.sidebar-wrapper .list-group-item.collapsed[data-toggle="collapse"]:after {
  content: '\F054';
}

@media screen and (min-width: 768px) and (max-width: 1335px) {
  .sidebar-wrapper,
  .sidebar-wrapper.active {
    width: 60px;
    min-height: 100vh;
    top: 0px;
    bottom: 0px;
    z-index: 49;
  }

  .sidebar-wrapper:hover {
    width: 260px;
  }

  .sidebar-wrapper + div {
    margin-left: 60px;
  }

  .sidebar-wrapper .list-group-item {
    max-width: 260px;
  }
}

@media screen and (min-width: 1336px) {
  .sidebar-wrapper,
  .sidebar-wrapper.active {
    min-width: 260px;
    width: 260px;
    min-height: 100vh;
    top: 0px;
    bottom: 0px;
    z-index: 49
  }

  .sidebar-wrapper + div {
    margin-left: 260px;
  }

  .sidebar-wrapper .list-group-item {
    max-width: 260px;
  }
}

/* Table */
.table tbody tr td.btn-actions {
  opacity: 0.45;
}

.table tbody tr:hover td.btn-actions {
  opacity: 1;
}
.table tbody tr td.btn-actions a[href="#"] {
  visibility: hidden;
  color: darkgrey;
  cursor: auto;
}

.modal-full {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.modal-dialog-full {
  position: fixed;
  margin: 0;
  width: 100%;
  max-width: 100% !important;
  height: 100%;
  padding: 0;
}

.modal-content-full {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 2px solid #3c7dcf;
  border-radius: 0;
  box-shadow: none;
}

.modal-header-full {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 50px;
  padding: 10px;
  background: #6598d9;
  border: 0;
  border-radius: 0 !important;
}

.modal-title-full {
  font-weight: 300;
  font-size: 2em;
  color: #fff;
  line-height: 30px;
}

.modal-body-full {
  position: absolute;
  top: 50px;
  bottom: 60px;
  width: 100%;
  font-weight: 300;
  overflow: auto;
}

.modal-footer-full {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 60px;
  padding: 10px;
  background: #f1f3f5;
}

.card-counter{
  box-shadow: 2px 2px 10px #DADADA;
  margin: 5px;
  padding: 20px 10px;
  background-color: #fff;
  height: 100px;
  border-radius: 5px;
  transition: .3s linear all;
}

.card-counter:hover{
  box-shadow: 4px 4px 20px #DADADA;
  transition: .3s linear all;
}

.card-counter.primary{
  background-color: #007bff;
  color: #FFF;
}

.card-counter.danger{
  background-color: #ef5350;
  color: #FFF;
}  

.card-counter.success{
  background-color: #66bb6a;
  color: #FFF;
}  

.card-counter.info{
  background-color: #26c6da;
  color: #FFF;
}  

.card-counter span small{
  font-size:11pt;
}

.card-counter i{
  font-size: 5em;
  opacity: 0.2;
}

.card-counter .count-numbers{
  position: absolute;
  right: 35px;
  top: 20px;
  font-size: 32px;
  display: block;
}

.card-counter .count-name{
  position: absolute;
  right: 35px;
  top: 65px;
  font-style: italic;
  text-transform: capitalize;
  opacity: 0.5;
  display: block;
  font-size: 18px;
}

.alert-2 {
	width: 100%;
  padding: 15px;
  border-radius: 5px;
}