body {
	/*font-family: 'Roboto', Helvetica; */
	font-family: "Open Sans", HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.content-mobile {
	display: none;
}

a.link{
	color: #06337b;
}

a.link:hover{
	color: #06337b;
	font-weight: 700;
}


@media only screen and (max-width: 768px) {
	.content-desktop {
		display: none;
	}
	.content-mobile {
		display: block;
	}
}

.bg-milioner {
	background-color: #254456;
}

.section {
	position: relative;
}

.md-section {
	padding-top: 90px;
	padding-bottom: 90px;
}

.sm-section {
	padding-top: 60px;
	padding-bottom: 60px;
}

.xs-section {
	padding-top: 30px;
	padding-bottom: 30px;
}

/* --- Background Section --- */

.bg-main {
	background-color: #FFD626;
}

.bg-grey {
	background-color: #F8F8F8;
}

.bg-dark {
	background-color: #001232;
}

.bg-biru-uii {
	background-color: #06337b !important;
}

.btn-biru-uii {
	background-color: #06337b !important;
	border: none;
	color:#fff;	
}

.btn-kuning-uii {
	background-color: #f7d217 !important;
	border: none;
	color:#000;	
}

.btn-kuning-uii:hover {
	background-color: #f7d217 !important;
	color:#010101;	
}

/* --- Background Image Section --- */
.bg-img  {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-size: cover;
	background-position: center;
	background-attachment:fixed;
}

.bg-img.bg-half{
	width: 50%;
	background-attachment:scroll;
}

.bg-img.bg-half.bg-right {
	left: 50%;
}

.bg-img.overlay:after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	opacity: 0.9;
}

.bg-img.overlay:after {
	background-color: #FFF;
}

.bg-img.bg-half.overlay:after {
	display: none;
}

@media only screen and (max-width: 991px) {
	.bg-img.bg-half.overlay:after {
		display: block;
	}
	.bg-img.bg-half {
		width: 100%;
	}
	.bg-img.bg-half.bg-right {
		left: 0%;
	}
}

/* --- Section Header --- */

.section-header {
	margin-bottom: 60px;
}

.title {
	position: relative;
	padding-left: 15px;
}

.text-center .title {
	display: inline-block;
}

.title:after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 10px;
	background-color: #FFD626;
}

.sub-title {
	color: #64728A;
	margin-bottom: 0px;
}

label.error {
	color: red;
	font-size: 11pt;
}

/* --- Buttons --- */

.main-button , .secondary-button {
	display: inline-block;
	position: relative;
	padding: 10px 30px;
	border: 1px solid transparent;
	z-index: 1;
}

.main-button  {
	background-color: #001232;
	color: #FFF;
}

.secondary-button {
	background-color: #FFD626;
	color: #004;
}

.main-button:after  , .secondary-button:after {
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	height: 0%;
	-webkit-transition: 0.2s height;
	transition: 0.2s height;
	z-index: -1;
}

.main-button:after  {
	background-color:#FFD626;
}

.secondary-button:after  {
	background-color:#001232;
}

.main-button:hover:after , .secondary-button:hover:after {
	height: 100%;
}

.main-button:hover {
	color: #004;
}

.main-button:focus {
	color: #FFF;
}

.secondary-button:hover {
	color: #FFF;
}

.btn-dark{
	background-color: #254456;
	font-size:9pt;
	border-radius: 15px 15px 15px 15px;
	padding-left: 10px;
	padding-right: 10px;
}

.btn-masuk {
	width: 200px;
	font-size: 10pt;
	font-weight: 700;
	padding: 10px;
	margin-left: 25% !important;
}

.form-upload {
	border: #dddddd solid 1px;
	padding: 9px;
	margin-bottom: 20px;
	border-radius: 5px 5px 5px 5px;
	height: 45px;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
	font-size: 11pt;
	padding: 4px;
	padding-left: 15px;
	padding-right: 15px;
	margin-top: -15px;
	border-radius: 5px 5px 5px 5px;
    color: white;
    background-color: #6c757d;
	display: inline-block;
	cursor: pointer;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #494f55;
}

.page-item.active .page-link,
.page-item .page-link:hover {
    z-index: 1;
    color: #fff;
    background-color: #00a587;
	border-color: #00a587;
}

.page-link {
	color: #000;
	background-color: #f4f4f4;
	border: 1px solid #888888;
}

.page-item.disabled .page-link {
	color: #000;
	background-color: #f4f4f4;
	border: 1px solid #888888;
}


button.btn-check {
	background-color: transparent;
	border: #01a24c solid 2px;
	border-radius: 100%;
	color: #01a24c;
	margin-left: 16px;
	margin-right: 16px;
}

@media screen and (max-width: 480px){
	.btn-masuk {
		margin-left: 0px !important;
		width: 100%;
	}
}

.col-flex {
	width: calc(1140px/11);
	text-align:center;
}

.col-icon-games {
	border-right: solid 1px #e8e8e8;
	height: 80px;
}

.col-flex p{
	text-align: center;
	font-size: 11pt;
	margin-top: 10px;
}

.btn-kategori-game .btn-kat-game {
	background-color: #999999;
	color: #fff;
	width: 120px;
	border-radius: 25px 25px 25px 25px;
	margin-left: 10px;
}

.btn-kategori-game .btn-kat-game:hover, 
.btn-kategori-game .btn-kat-game.active {
	background-image: linear-gradient(#01bd9c,#00a587) !important;
}

.btn-icon-games {
	width: 70px;
	height: 70px;
	border-radius: 100%;
	border: solid 2px #e8e8e8;
	text-align: center;
}

.btn-icon-games.btn-fashion{
	background-color: #775400;
}

.btn-icon-games.btn-film{
	background-color: #a28d29;
}

.btn-icon-games.btn-games{
	background-color: #a2581d;
}

.btn-icon-games.btn-kuliner{
	background-color: #770000;
}

.btn-icon-games.btn-musik{
	background-color: #770062;
}
.btn-icon-games.btn-pengetahuan{
	background-color: #4e0077;
}
.btn-icon-games.btn-florafauna{
	background-color: #220077;
}
.btn-icon-games.btn-hiburan{
	background-color: #004077;
}
.btn-icon-games.btn-olahraga{
	background-color: #007677;
}
.btn-icon-games.btn-pendidikan{
	background-color: #00771f;
}
.btn-icon-games.btn-travel{
	background-color: #657700;
}


.btn-icon-games img{
	width: 40px;
	padding: 0px;
	margin-top: 5px;
	margin-left: -3px;
}

.col p{
	font-size: 10pt;
	margin-top: 10px;
	font-weight: 500;
}

.icon-kuis-sm img {
	position: absolute;
	z-index: 10;
	width: 35px;
	right: 15px;
	top: 15px;
}

.btn-social-login .btn {
	width: 120px;
	color: #fff;
}

.btn-social-login a.btn-google {
	background-color: #db402c;
}

.btn-social-login a.btn-facebook {
	background-color: #3b5998;
}

.text-div-hr {
	margin-top: -45px;
	background-color: #fff;
	padding: 15px;
	width: 150px;
	text-align: center;
	
}

@media screen and (max-width: 480px){
	.btn-kategori-game .btn-kat-game {
		width: 46%;
		margin-top: 10px;
	}
	.btn-kategori-game .btn-kat-game:hover, .btn-kategori-game .btn-kat-game{
		background-color: transparent;
		color: #444444;
		border: solid 3px #828282;
	}
	.btn-kategori-game .btn-kat-game:hover, .btn-kategori-game .btn-kat-game.active{
		background-image: none !important;
		border: solid 3px #5cb85c;
	}
}

/* --- Text Link --- */

a:hover {
	color: #E0E0E0;
	text-decoration: none;
}

.text-link > span {
	position: relative;
	z-index: 1;
}

.text-link:hover > span {
	color: #004;
}

.text-link > span:after{
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0%;
	background-color: #FFD626;
	z-index: -1;
	-webkit-transition: 0.2s height;
	transition: 0.2s height;
}

.text-link:hover > span:after {
	height: 100%;
}

span.bg-teal, 
p.bg-teal,
a.bg-teal{
	color: #3baea7;
} 

/* --  Input  -- */

input[type="text"], input[type="email"], input[type="password"], input[type="number"], input[type="date"], input[type="url"], input[type="tel"], textarea {
    height: 40px;
    width: 100%;
   /* border: 1px solid #64728A; */
	background: transparent;
    padding-left: 15px;
	padding-right: 15px;
}

textarea {
    padding: 10px 15px;
    min-height: 90px;
    resize: vertical;
}

/*------------------------------------*\
	Logo
\*------------------------------------*/

.navbar-brand {
	padding: 0;
	padding-top:10px;
	padding-bottom: 10px;
}

.navbar-brand .logo {
	display: inline-block;
	margin-top: 5px;
}

.navbar-brand .logo > img {
	max-height: 40px;
}



/*------------------------------------*\
	Navigation
\*------------------------------------*/

.navbar-top-menu {
	position: absolute;
	margin-top: -15px;
}

.navbar-top-menu ul li a{
	font-size: 11pt;
}


#header {
	position:relative;
	z-index:999;
}



#header .navbar {
	margin-bottom: 0px;
	border-radius: 0px;
	border: none;
}

#header .nav li a:hover , #header .nav li a:focus {
	background-color: transparent;
}

.navbar-light .navbar-toggler-icon {
	background-image: url("../../assets/img/icon/menu.svg");
}


/* --- Top Navigation --- */
#top-navbar {
	background-color: #f7d217;
	height: 30px;
	padding-top: 0px;
	padding-bottom: 0px;
	line-height: 30px;
	color:#06337b;
}

#top-navbar .list-inline-item>a {
	color:#06337b;
}
#top-navbar .list-inline-item>a:hover {
	text-decoration: underline;
}

/* --- Main Navigation --- */

#main-navbar {
	background-color: #06337b !important;
}

#main-navbar ul li a{
	color: #fff;
	text-transform: uppercase;
	font-size: 9pt;
	font-weight: lighter;
	margin: 0px 5px;
}

#main-navbar ul li a:hover{
	color: #f7d217;
}

#main-navbar ul li.btn-daftar{
	background-image: linear-gradient(#15bd63,#01a24c);
	box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
	border-radius: 25px 25px 25px 25px;
	padding-left: 10px;
	padding-right: 10px;
}

#main-navbar.fixed-navbar {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	-webkit-box-shadow: 0px -2px 10px 0px rgba(0, 0, 0, 0.15);
	        box-shadow: 0px -2px 10px 0px rgba(0, 0, 0, 0.15);
	z-index: 10;
}

.img-header img {
	position: absolute;
	width: 40px;
	bottom: 0;
	left: auto;
}

nav.km-side-menu {
	background-color: rgba(0, 56, 150, 0.95);
	color: #fff;
}

.navbar-expand-lg .navbar-nav .nav-link {
	padding-left: 10px;
	padding-right: 10px;
}

/* Profile Navigation */
.img-header {
	width: 40px;
	border-radius: 100%;
}

.btn-header-top a.btn{
	height: 25px;
	margin-top: -10px;
	padding: 0;
	font-size: 10pt;
	padding: 2px;
	width: 60px;
}

.btn-header-bottom a.btn {
	height: 25px;
	padding: 2px;
	background-color: #FFD700;
	border:none;
	color: #000;
	font-weight: 500;
	text-transform: uppercase;
	font-size: 10pt;
	width: 125px;
}

.btn-header-top a.btn img, .btn-header-bottom a.btn img {
	width: 18px;
	height: 18px;
}

.nav-profile {
	background: linear-gradient(#254659,#1D6073); /* Standard syntax */
	background: -webkit-linear-gradient(#254659,#1D6073); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#254659,#1D6073); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#254659,#1D6073);
    padding: 7px;
    padding-left: 8px;
}

.nav-profile img {
	margin-top: 5px;
}

.carousel-indicators {
	bottom: 0px;
}

.carousel-indicators .active {
	background-color: #01bd9c;
}

@media screen and (max-width: 480px){
	.navbar-collapse {
		position: fixed;
		left: 0;
		/* flex-basis: 100%; */
		/* -webkit-box-flex: 1; */
		-ms-flex-positive: 1;
		/* flex-grow: 1; */
		/* -webkit-box-align: center; */
		-ms-flex-align: center;
		/* align-items: center; */
		padding: 10px;
		padding-left: 15px;
		background-color:#007677;
		width: 250px;
		height: 100%;
		top: 0;
	}
	nav.navbar {
		position: fixed;
		left: 0;
		/* flex-basis: 100%; */
		/* -webkit-box-flex: 1; */
		-ms-flex-positive: 1;
		/* flex-grow: 1; */
		/* -webkit-box-align: center; */
		-ms-flex-align: center;
		/* align-items: center; */
		padding: 10px;
		padding-left: 15px;
		width: 100%;
		top: 0;
		margin-bottom: 50px !important;
	}
	.page-res {
		margin-top: 88px;
	}
	.page-res-2 {
		margin-top: 88px;
	}
}

/* Social Icon */
.social-icon {
	color: #06337b;
}

ul.social-icon {
	margin: 0px;
}

.list-inline-item:not(:last-child) {
	margin-right: 10px !important;
}

.social-icon-dark {
	color: #ffce00;
}

.social-icon-dark ul li{
	background-color: #3d3d3d;
	width: 25px;
	height: 25px;
	padding: 1px;
	text-align: center;
	border-radius: 15%;
}

/* --- Default Dropdown --- */
@media only screen and (min-width: 768px) {
	.has-dropdown {
		position: relative;
	}
	.has-dropdown:after {
		font-family: 'FontAwesome';
		content: "\f0d7";
		-webkit-transition: 0.2s -webkit-transform;
		transition: 0.2s -webkit-transform;
		transition: 0.2s transform;
		transition: 0.2s transform, 0.2s -webkit-transform;
		position: absolute;
		right: 5px;
		font-size: 10px;
		color: #004;
		top: 15px;
	}
}

/* --- Mobile Nav --- */
@media only screen and (max-width: 767px) {
	#main-navbar  {
		padding-top: 0px;
		padding-bottom: 0px;
	}

	.main-navbar {
		margin: 0px -15px;
		border-top: 1px solid #EEE;
		max-height: 0;
		overflow-y: scroll;
		-webkit-transition: 0.3s max-height;
		transition: 0.3s max-height;
	}

	.main-navbar li {
		border-bottom: 1px solid #EEE;
	}

	.main-navbar.main-navbar-collapsed {
		max-height: 500px;
	}

	/* Mobile Dropdown */
	.has-dropdown {
		position: relative;
	}

	.has-dropdown:after {
		font-family: 'FontAwesome';
		content: "\f067";
		position: absolute;
		right: 10px;
		font-size: 10px;
		color: #004;
		top: 10px;
	}

	.has-dropdown.dropdown-collapsed:after {
		content: "\f068";
	}

	
}

/* --- Navbar Mobile Toggle --- */
@media only screen and (min-width: 768px) {
	.navbar-toggle-btn {
		display: none !important;
	}
}

.navbar-toggle-btn {
	position: relative;
	display: block;
	width: 50px;
	float: right;
	height: 50px;
	background: transparent;
	border: none;
}


.navbar-toggle-btn span {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
	left: 10px;
	-webkit-transition: 0.2s background;
	transition: 0.2s background;
}

.navbar-toggle-btn span:after , .navbar-toggle-btn span:before {
	content: "";
	position: absolute;
	left: 0;
	-webkit-transition: 0.2s -webkit-transform;
	transition: 0.2s -webkit-transform;
	transition: 0.2s transform;
	transition: 0.2s transform, 0.2s -webkit-transform;
}

.navbar-toggle-btn span , .navbar-toggle-btn span:after , .navbar-toggle-btn span:before {
	height: 4px;
	width: 30px;
	background-color: #004;
}

.navbar-toggle-btn span:before {
	top: -10px;
}

.navbar-toggle-btn span:after {
	top: 10px;
}

.navbar-toggle-btn.toggle-btn-collapsed span {
	background: transparent;
}

.navbar-toggle-btn.toggle-btn-collapsed span:before {
	-webkit-transform: translateY(10px) rotate(45deg);
	    -ms-transform: translateY(10px) rotate(45deg);
	        transform: translateY(10px) rotate(45deg);
}

.navbar-toggle-btn.toggle-btn-collapsed span:after {
	-webkit-transform: translateY(-10px) rotate(-45deg);
	    -ms-transform: translateY(-10px) rotate(-45deg);
	        transform: translateY(-10px) rotate(-45deg);
}


/* --- Navbar Search --- */
.navbar-search {
	position: relative;
	float: right;
	margin-left: 15px;
}

.navbar-search .search-btn {
	border: none;
	background: transparent;
	padding: 15px 10px;
	line-height: 20px;
	color: #004;
}

.navbar-search .search-form {
	display: none;
	position: absolute;
	width: 250px;
	background: #FFF;
	right: 50%;
	-webkit-transform: translateX(50%);
	    -ms-transform: translateX(50%);
	        transform: translateX(50%);
	padding: 15px 10px;
	border: 1px solid #EEE;
}

.navbar-search .search-form form input {
	width: 100%;
}

.navbar-search:hover .search-form {
	display: block;
}

.search-toggle-btn {
	display: none;
	float: right;
	width: 50px;
	line-height: 50px;
	font-size: 24px;
	background: transparent;
	border-left: 1px solid #EEE;
	border-right: 1px solid #EEE;
	border-bottom: 0px;
	border-top: 0px;
	color: #004;
}

@media only screen and (max-width: 767px) {
	.navbar-search  .search-btn {
		display: none;
	}

	.search-toggle-btn {
		display: block;
	}

	.navbar-search {
		float: none;
		margin: 0px -15px;
	}

	.navbar-search .search-form {
		position: static;
		-webkit-transform: none;
		    -ms-transform: none;
		        transform: none;
		width: 100%;
		border-top: 1px solid #EEE;
	}

	.navbar-search.navbar-search-collapsed .search-form {
		display: block;
	}
}




/*------------------------------------*\
	Main page
\*------------------------------------*/
.carousel-caption {
	width: 100%;
	left:0px;
	right:0px;
	bottom:0px;
	padding: 15px 15%;
	min-height: 120px;
	background-color: rgba(0,0,0, .52);
}

.slider-intro {
	width: 100%;
	background-color: #F7D117;
	padding:15px;
}

.slider-intro h1.h5 {
	font-size: 13pt !important;
	font-weight: 700;
	font-family: "Open Sans Condensed", 'Arial Narrow', Arial;
	margin: 0px auto;
}

.intro-2 {
	background-color: #08387f;
	color: #fff;
	padding-top: 50px;
	padding-bottom: 50px;
}

.intro-2 h5 {
	font-weight: 700;
	font-family: Arial, Helvetica, sans-serif;
}

/* .intro-2 p{
	font-weight: lighter;
} */

.intro-3 {
	padding:0;
	background-color: #F7D117;
	color: #000;
}

.intro-3 .col-intro-3-text {
	padding: 30px;
	margin-top: 50px;
	padding-right: 50px;
}

@media screen and (max-width: 480px){
	.intro-3 .intro-img {
		padding-right: 0px;
	}

	.intro-3 .col-intro-3-text {
		margin-top: 0px;
	}

	.intro-img img{
		width: 100% !important;
	}
}

span.label-price {
	background-color: #f7d217;
	color: #000;
	position: absolute;
	top: 10px;
	border-radius: 5px;
	margin-left: -5px;
	padding:3px;
	padding-left: 15px;
	padding-right: 15px;
	left: 0;
}

span.label-price small{
	font-size: 9pt !important;
	margin-bottom: 0px;
}

span.label-price p{
	margin-bottom: 5px;
	margin-top:-5px;
	font-weight: 600;
}

span.label-title {
	width: 100%;
	left: 0;
	position: absolute;
	margin-top:-10px;
}

span.label-title p{
	font-size: 11pt;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	margin-bottom:0px;
}


.kontak {
	background-image: url('../img/uii-bg.png');
	color:#fff;
	padding: 30px;
}

@media screen and (max-width: 480px){
	.kontak{
		background-size: 800%;
		background-position: center;
		height: 750px;
	}
	.kontak .kontak-maps {
		margin-top: 370px;
	}
	
}

.kontak-maps {
	position: absolute;
    padding: 0px !important;
    right: 0;
    top: auto;
    margin-top: -30px;
}

.container-card-pelatihan {
	max-width: 900px;
	margin: 0 auto;
}

.header-page-pelatihan .image {
	width: 100%;
	height: 350px;
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
}

.header-page-pelatihan .title-info {
	padding:30px;
	padding-left: 20px;
}


.tab-pane {
	height: auto !important;
}

@media screen and (max-width: 480px){
	.header-page-pelatihan .image {
		height: 200px;
	}
	.header-page-pelatihan .title-info {
		padding: 30px;
		padding-left: 30px;
		padding-right: 30px;
	}

	.btn-daftar a.btn,
	.btn-daftar button.btn {
		position: fixed;
		bottom: 0;
		height: 50px;
		border-radius: 0;
		text-align: left;
		z-index: 999;
		padding-top: 12px;
	}

	.btn-daftar a.btn span,
	.btn-daftar button.btn span {
		font-size: 9pt;
		text-align: right;
		margin-top: -6px;
		color: #f7d217;
	}
}

#top-footer {
	background-color: #f7d217;
	color:#000;
}
#top-footer a {
	color: #000;
}

#bottom-footer {
	background-color: #08387f;
	color: #fff;
	padding-top:15px;
	font-size: 10pt;
}


/* Drawer */
.drawer-menu-item {
	color: #fff !important;
	padding-left: 25px !important;
}

/* Sidebar */
.sidebar-wrapper {
	width: 100%;
	max-height: 100%;
	z-index: 999;
	transition: left .3s ease; 
	overflow: hidden;
	background-color: #fff}
	.sidebar-wrapper ul {
	  list-style-type: none;
	  padding: 0;
	  margin: 0; }
	.sidebar-wrapper a {
	  text-decoration: none;
	  transition: color .3s ease; }
	.sidebar-wrapper .sidebar-content {
	  max-height: calc(100% - 30px);
	  height: calc(100% - 30px);
	  position: relative; }
	  .sidebar-wrapper .sidebar-content.desktop {
		overflow-y: hidden; }
	.sidebar-wrapper .sidebar-brand {
	  padding: 10px 20px;
	  display: flex;
	  align-items: center; }
	  .sidebar-wrapper .sidebar-brand > a {
		text-transform: uppercase;
		font-weight: bold;
		flex-grow: 1; }
	  .sidebar-wrapper .sidebar-brand #close-sidebar {
		cursor: pointer;
		font-size: 20px;
		transition: color .3s ease; }
	.sidebar-wrapper .sidebar-header {
	  padding: 20px;
	  overflow: hidden; }
	  .sidebar-wrapper .sidebar-header .user-pic {
		float: left;
		width: 60px;
		padding: 2px;
		border-radius: 12px;
		margin-right: 15px;
		overflow: hidden; }
		.sidebar-wrapper .sidebar-header .user-pic img {
		  object-fit: cover;
		  height: 100%;
		  width: 100%; }
	  .sidebar-wrapper .sidebar-header .user-info {
		float: left; }
		.sidebar-wrapper .sidebar-header .user-info > span {
		  display: block; }
		.sidebar-wrapper .sidebar-header .user-info .user-role {
		  font-size: 12px; }
		.sidebar-wrapper .sidebar-header .user-info .user-status {
		  font-size: 11px;
		  margin-top: 4px; }
		  .sidebar-wrapper .sidebar-header .user-info .user-status i {
			font-size: 8px;
			margin-right: 4px;
			color: #5cb85c; }
	.sidebar-wrapper .sidebar-search > div {
	  padding: 10px 20px; }
	.sidebar-wrapper .sidebar-search .input-group-append .input-group-text {
	  border-left: 0; }
	  .sidebar-wrapper .sidebar-menu .header-menu span {
		font-weight: bold;
		font-size: 14px;
		padding: 15px 20px 5px 20px;
		display: inline-block; }
	  .sidebar-wrapper .sidebar-menu ul li a {
		display: inline-block;
		width: 100%;
		text-decoration: none;
		position: relative;
		padding: 13px 15px 13px 20px; 
		border-bottom:solid 1px #cfcfcf;
	}
		.sidebar-wrapper .sidebar-menu ul li a i {
		  margin-right: 10px;
		  font-size: 12px;
		  width: 30px;
		  height: 30px;
		  line-height: 30px;
		  text-align: center;
		  border-radius: 4px; }
		.sidebar-wrapper .sidebar-menu ul li a:hover > i::before {
		  display: inline-block;
		  animation: swing ease-in-out .5s 1 alternate; }
		.sidebar-wrapper .sidebar-menu ul li a span.label,
		.sidebar-wrapper .sidebar-menu ul li a span.badge {
		  float: right;
		  margin-top: 2px;
		  margin-left: 5px; }
	  .sidebar-wrapper .sidebar-menu .sidebar-dropdown > a:after {
		font-family: "Font Awesome 5 Free";
		font-weight: 900;
		content: "\f105";
		display: inline-block;
		font-style: normal;
		font-variant: normal;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-align: center;
		background: 0 0;
		position: absolute;
		right: 15px;
		top: 14px;
		transition: transform .3s ease; }
	  .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu {
		display: none; 
		background-color: #e0e1e3;}
		.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu ul {
		  padding: 0; }
		.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li {
		  padding-left: 25px;
		  font-size: 13px; }
		  .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .badge,
		  .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .label {
			float: right;
			margin-top: 0px; }
			.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:hover {
				background-color: #27908b;
				color: #fff;
			}
	  .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active > a:after {
		transform: rotate(90deg);
		right: 17px; }
	.sidebar-wrapper .sidebar-footer {
	  position: absolute;
	  width: 100%;
	  bottom: 0;
	  display: flex; }
	  .sidebar-wrapper .sidebar-footer > div {
		flex-grow: 1;
		text-align: center;
		height: 30px;
		line-height: 30px;
		position: static;
		display: flex; }
		.sidebar-wrapper .sidebar-footer > div > a {
		  flex-grow: 1; }
		.sidebar-wrapper .sidebar-footer > div a .notification {
		  position: absolute;
		  top: 0; }
	  .sidebar-wrapper .sidebar-footer .dropdown-menu {
		bottom: 31px;
		left: 0 !important;
		top: initial !important;
		right: 0;
		transform: none !important;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		font-size: .9rem; }
	  .sidebar-wrapper .sidebar-footer .messages .dropdown-item {
		padding: .25rem 1rem; }
	  .sidebar-wrapper .sidebar-footer .messages .messages-header {
		padding: 0 1rem; }
	  .sidebar-wrapper .sidebar-footer .messages .message-content {
		display: flex; }
		.sidebar-wrapper .sidebar-footer .messages .message-content .pic {
		  width: 40px;
		  height: 40px;
		  border-radius: 4px;
		  overflow: hidden; }
		  .sidebar-wrapper .sidebar-footer .messages .message-content .pic img {
			object-fit: cover;
			height: 100%; }
		.sidebar-wrapper .sidebar-footer .messages .message-content .content {
		  line-height: 1.6;
		  padding-left: 5px;
		  width: calc(100% - 40px); }
		  .sidebar-wrapper .sidebar-footer .messages .message-content .content .message-title {
			font-size: 13px; }
		  .sidebar-wrapper .sidebar-footer .messages .message-content .content .message-detail {
			font-size: 12px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis; }
	  .sidebar-wrapper .sidebar-footer .notifications .dropdown-item {
		padding: .25rem 1rem; }
	  .sidebar-wrapper .sidebar-footer .notifications .notifications-header {
		padding: 0 1rem; }
	  .sidebar-wrapper .sidebar-footer .notifications .notification-content {
		display: flex; }
		.sidebar-wrapper .sidebar-footer .notifications .notification-content .icon {
		  width: 40px;
		  height: 40px; }
		  .sidebar-wrapper .sidebar-footer .notifications .notification-content .icon i {
			width: 35px;
			height: 35px;
			text-align: center;
			line-height: 35px;
			border-radius: 4px; }
		.sidebar-wrapper .sidebar-footer .notifications .notification-content .content {
		  line-height: 1.6;
		  padding-left: 5px;
		  width: calc(100% - 40px); }
		  .sidebar-wrapper .sidebar-footer .notifications .notification-content .content .notification-time {
			font-size: .7rem;
			color: #828282; }
		  .sidebar-wrapper .sidebar-footer .notifications .notification-content .content .notification-detail {
			font-size: 12px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis; }
	  .sidebar-wrapper .sidebar-footer .badge-sonar {
		display: inline-block;
		background: #980303;
		border-radius: 50%;
		height: 8px;
		width: 8px;
		position: absolute;
		top: 0; }
		.sidebar-wrapper .sidebar-footer .badge-sonar:after {
		  content: '';
		  position: absolute;
		  top: 0;
		  left: 0;
		  border: 2px solid #980303;
		  opacity: 0;
		  border-radius: 50%;
		  width: 100%;
		  height: 100%;
		  animation: sonar 1.5s infinite; }
  
  .sidebar-bg .sidebar-wrapper {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat; }
	.sidebar-bg .sidebar-wrapper:before {
	  content: '';
	  position: absolute;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0; }
  
  /*----------------page-wrapper----------------*/
  .page-wrapper {
	height: 100vh; }
  
  .page-wrapper .theme {
	width: 40px;
	height: 40px;
	display: inline-block;
	border-radius: 4px;
	margin: 2px;
	background-size: cover; }
  
  .page-wrapper .theme.selected {
	border: 2px solid #00c7ff; }
  
  .page-wrapper .theme.chiller-theme {
	background: #1d1d1d; }
  
  .page-wrapper .theme.ice-theme {
	background: #2B3A42; }
  
  .page-wrapper .theme.light-theme {
	background: #F1F0ED; }
  
  .page-wrapper .theme.cool-theme {
	background: #38373D; }
  
  /*----------------  toggeled sidebar  ----------------*/
  .page-wrapper.toggled .sidebar-wrapper {
	left: 0px; }
  
  @media screen and (min-width: 768px) {
	.page-wrapper.toggled .page-content {
	  padding-left: 300px; } }
  
  /*----------------show sidebar button----------------*/
  #show-sidebar {
	position: fixed;
	left: 0;
	top: 10px;
	border-radius: 0 4px 4px 0px;
	width: 35px;
	transition: left .3s ease;
	transition-delay: .3s; }
  
  .page-wrapper.toggled #show-sidebar {
	left: -40px; }
  
  /*-----------------  page-content  ------------------*/
  .page-wrapper .page-content {
	display: inline-block;
	width: 100%;
	padding-left: 0px;
	padding-top: 20px;
	transition: padding-left .3s ease; }
  
  .page-wrapper .page-content > div {
	padding: 20px 40px; }
  
  .page-wrapper .page-content {
	overflow-x: hidden; }
  
  /*----------------  Scroll bar style   --------------- */
  .mCSB_scrollTools {
	width: 6px; }
  
  .mCSB_inside > .mCSB_container {
	margin-right: 0px; }

/* sidebar-profile */

.sidebar-profile {
	background-image: linear-gradient(#264653, #1e5f73);
	padding: 20px;
}
.sidebar-profile .img-profile img {
	width: 150px;
	border-radius: 100%;
}

.sidebar-profile .img-profile img.img-medal {
	position: absolute;
	width: 40px;
	top: 110px;
	right: 50px;
}

.sidemenu-profile {
	background-color: #244759;
	padding: 20px;
}
.sidemenu-profile .img-profile img {
	width: 120px;
	border-radius: 100%;
}

.sidemenu-profile .img-profile img.img-medal {
	position: absolute;
	width: 30px;
	top: 110px;
	right: 70px;
}

.sidemenu-profile a.btn-gold{
	text-transform: uppercase;
	background-color: #ffce00;
	font-weight: 500;
}

.sidemenu-profile a.btn-go-dash{
	background-color: #01bd9c;
	font-weight: 500;
	color: #fff;
	margin-top: 10px;
	text-align: left;
}

.sidemenu-profile a i{
	margin-top: 5px;
}

.btn-goldchip{
	color: #fff;
    padding-bottom: 0px
}

.btn-goldchip span{
	font-size: 10pt;
	font-weight: 600;
}

.btn-goldchip img {
	width: 20px;
}

.btn-goldchip .btn-chipmil {
	border-right: solid 1px #007677;
}

.btn-goldchip a.btn {
	width: 100%;
    height: 36px;
    font-size: 14pt;
}

.sidebar-profile a.btn-gold{
	text-transform: uppercase;
    background-color: #ffce00;
    font-weight: 600;
    padding: 12px;
}

.sidebar-profile a.btn-gold:hover{
	color: #fff;
	border: #FFD626 solid 2px;
}

.sidebar-menu a {
	color: #494e59;
	font-size: 12pt;
}

.sidebar-menu img{
	padding-top: 0px;
	margin-top: -5px;
	width: 20px;
	margin-right: 15px;
}

.sidebar-menu a.active,
.sidebar-menu ul li a:hover {
	background-color: #3baea7;
	color: #fff;
	font-weight: 500;
}
.sidebar-menu a {
	padding-left: 20px;
}
.sidebar-menu a:hover {
	color : #3baea7;
	font-weight: 500;
}

.sidebar-menu ul li a{
	padding: 20px;
}

/* Sidebar Slideout */

.slideout-menu {
	position: fixed;
	top: 65px;
	bottom: 0;
	width: 256px;
	min-height: 100vh;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	z-index: 1000;
	display: none;
  }
  

  .slideout-menu-left {
	left: 0;
  }
  
  .slideout-menu-right {
	right: 0;
  }
  
  .slideout-panel {
	position: relative;
	z-index: 1;
	/*will-change: transform; */
	background-color: #ecf0f2;
	min-height: 100vh;
  }
  
  .slideout-open,
  .slideout-open body,
  .slideout-open .slideout-panel {
	overflow: hidden;
  }
  
  .slideout-open .slideout-menu {
	display: block;
	transition: 2s;
  }

  .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li{
	  padding:0;
  }

  .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a{
	padding-left: 47px;
	padding-top: 7px;
	padding-bottom: 7px;
  }

  .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a.active {
	background-color: #27908b;
	color: #fff;
	font-weight: 500;

  }

  .panel:before {
	content: '';
	display: block;
	background-color: rgba(0,0,0,0);
	transition: background-color 0.5s ease-in-out;
  }
  
  .panel-open:before {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	background-color: rgba(0,0,0,.5);
	z-index: 99;
  }

/* Card Akun Detail */
.img-profile-dt{
	margin: 0 auto;
}
.img-profile-dt img {
	border-radius: 100%;
	border: 2px #fff;
	box-shadow: 0px 0px 10px 2px #888888;
	width: 150px;
}

a.btn-edit-foto img{
	box-shadow: none !important;
	border: none !important;
	width: 25px;
	margin-top: -85px;
	margin-bottom: 100px;
}

a.btn-edit-foto:hover img {
	opacity: 0.8;
	border: #007677 solid 1px;
}

.table-striped tbody tr:nth-of-type(even) {
	background-color: #ecf0f2;
}

.table-striped tbody tr:nth-of-type(odd) {
	background-color: #dbdfe1;
}

.btn-del {
	background-color: #98a3a9;
}

@media screen and (max-width: 480px){

	.menu-profile-mb {
		position: fixed;
		margin-right: 0px;
		margin-left: -15px;
		width: 100%;
		margin-top: -23px;
		background-color: #3baea7;
		padding: 9px;
		color: #fff;
		font-size: 12pt;
		font-weight: 500;
		height: 45px;
		z-index: 99;
	}
	.menu-toggle-mb {
		position: absolute;
		background-color: #2b7a77;
		padding: 0;
		padding-top: 8px;
		right: 0;
		top: 0px;
		height: 45px;
	}

	.menu-profile-mb .menu-toggle-mb a.toggle-button {
		padding: 5px;
	}

	form.label-sm label {
		font-size: 9pt;
	}

	.container-res {
		padding: 0;
	}

	table.table {
		width: 100%;
	}

	table.table thead tr th,
	table.table tbody tr td,
	table.table tbody tr td button.btn{
		font-size:9pt;
		padding: 4px;
	}

	table.table tr td a {
		font-size: 10pt;
		margin-bottom: 5px;
	}
	
	table.tb-col-4 tbody tr td {
		width: 25%;
		word-break: break-word;
	}

	table.table tr td button {
		margin-bottom: 5px;
	}

	table.table tr td a.btn {
		width: 100%;
	}

	.tb-col-3 table thead th,
	.tb-col-3 table tr td{
		font-size: 11pt;
		padding: 8px;
	}

	.tb-col-3 table tr td p a{
		font-size: 12pt;
		color: #448ccb;
	}

	.card-res {
		margin-top: -27px !important;
	}

	.sidebar-menu ul .content-mobile li a {
		border-bottom: none;
		margin-top: -6px;
		padding: 15px;
	}
}

p a {
	color: #448ccb;
}

p a:hover {
	color: #205c91;
}

.table thead th, 
.table tbody tr td {
	vertical-align: middle;
}

/* EVENT SPESIAL */
.event-spesial-container {
	width: 100%;
	background-color: #FFF;
	position: relative;
}

.event-spesial-container .sidebar-wrapper {
	background-color: #254456 !important;
}

.event-cover,
.event-cover img {
	width: 100%;
}

.event-cover .timeline {
	position: relative;
	margin-top: -520px;
}

.event-cover .timeline .countdown{
	position: absolute;
	margin-top: -150px;
	margin-left: 35px;
}

.event-cover .timeline .countdown .box {
	padding-right: 5px;
}

.event-cover .timeline .countdown .box .time{
	width: 70px;
	height: 70px;
	padding: 5px;
	font-weight: 800;
	font-size: 30pt;
	text-align: center;
	background-color: #fff;
	border-radius: 10px 10px 10px 10px;
	box-shadow:  0px 0px 5px 0px;
	margin-bottom: 5px;
}

.event-cover .timeline .countdown .box small {
	font-size: 12pt;
	color: #fff;
	font-weight: 800;
	text-align: center;
}

.card-foto {
	position: relative;
	margin-top: 20px;
}

.foto-sec {
	padding-left: 13px;
	padding-right: 13px;
}

.foto-sec .col-md-3{
	padding-left: 2px;
	padding-right: 2px;
	margin-bottom: 15px;
}

.card-foto h5 {
	text-transform: uppercase;
	color: #3baea7;
	font-size: 12pt;
	font-weight: bold;
	margin-bottom: 15px;
}

.card-foto .card.foto-each {
	box-shadow: 0px 0px 3px 0px;
}

.card-foto .card.foto-each img {
	width: 101%;
	margin-top: -1px;
	margin-left: -1px;
    border-radius: 5px 5px 0px 0px;
}

.card-foto .card.foto-each p {
	overflow: hidden;
	white-space: nowrap; 
	text-overflow: ellipsis;
}

.card-foto .card p {
	color: #3baea7;
	margin-bottom: 0px;
	font-weight: bold;
}

.card-foto .card small {
	font-weight: bold;
	color: #878787;
}

.card-foto .card hr {
	margin-top: 10px;
	margin-bottom: 5px;
}

.card-foto .card span {
	font-size: 10pt;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 15px;
	color: #3baea7;
}

.card-foto .card span i {
	color : #878787;
	margin-left: 5px;
}

.card-foto .card span i.fas.fa-heart {
	color :#3baea7;
}

.persembahan {
	color: #fff;
}

@media screen and (max-width: 480px){
	.card-foto .card p {
		font-size: 10pt;
	}
	.card-foto .card small {
		font-size: 9pt;
	}
	.card-foto .card span {
		font-size: 9pt;
		margin-right: 5px;
	}
	.persembahan {
		position: relative;
	}
	.persembahan p{
		margin-top: -10px;
		text-align: center;
	}
	.persembahan img {
		margin: 0;
		position: absolute;
		left: 72%;
		margin-top: 15px;
		margin-right: -50%;
		transform: translate(-50%, -50%) 
	}
	.foto-peserta {
		padding-top: 0px !important;
		margin-top: 20px;
		padding: 10px !important;
		background-color: #fff;
		border-radius: 7px 7px 7px 7px;
	}

	.esc-2 {
		background-color: transparent !important;
	}
	.foto-peserta .card-foto {
		margin-top: 0px !important;
	}
}

.fileUpload {
	position: relative;
	overflow: hidden;
	margin: 10px;
}
.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}

.img-profile img {
	width: 100%;
	margin-bottom: 20px;
}

.card-img-top{
	max-height: 200px;
}

.training-exp{
	position: absolute;
	padding: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.training-exp p{
	padding-bottom: 0;
	margin-bottom: 0;
}

